html{
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .banner video{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    object-fit: cover;
  }
  .banner h2{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-size: 12vw;
    text-align: center;
    line-height:30vh;
    text-transform:uppercase;
    background-color: rgba(255,255,255,.9);
    mix-blend-mode: screen;
  }
  .wrap_video{
    margin-bottom: 100px;
  }
/* .banner{
    margin-bottom: 50px;
} */
/* .banner .pic a{
    display: block;
}
.banner img{
    width: 100%;
    display: block;
}
.circle{
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
}
.circle span{
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 5px;
} */
.court_info .text span{
    display: block;
}
.court_info .text span ~ span{
    margin-top: 20px;
}
.maptext{
    position: relative;
    top: 300px;
    opacity: 0;
}
.re_se{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pic_rese img:hover{
    transform: scale(1.05,1.05);
}
.coach{
    margin: 50px 0 120px;
}
.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 20px 50px -10px rgba(0,0,0,   0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';

}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h3
{
    font-size: 28px;
    font-weight:600;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h4
{
    font-size: 36px;
    font-weight:500;
    margin:5px 0 0 0;
    font-style:italic;
    transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
/* .dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;

}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity  0.5s ease;
  transform: translateY(30px);

} */

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

/* .dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
} */
.left_scroll{
    position: relative;
    right: 500px;
    top: 500px;
    transform: rotate(-90deg);
    opacity: 0;
}
.center_scroll{
    position: relative;
    top: 500px;
    opacity: 0;
}
.right_scroll{
    position: relative;
    left: 500px;
    top: 500px;
    transform: rotate(90deg);
    opacity: 0;
}
.reserve_service{
    margin-bottom: 100px;
}
.apply .lin{
    display: block;
    text-align: end;
    box-sizing: border-box;
    position: relative;
    animation-name: clc;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.apple .lin:hover{
    animation: none;
}
@keyframes clc{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.course_apply{
    margin-bottom: 150px;
}
.course_apply .more{
    text-align: center;
    margin-top: 50px;
}
.course_apply .more a{
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    background-color: #56ab4e;
    border-radius: 8px;
    transition: 0.5s;
    font-weight: 700;
}
.course_apply .more a:hover{
    background-color: #000;
    border: 1px solid rgba(0,0,0,.3);
}
/* ===========================================手機版 */
@media screen and (max-width:768px){
    /* =================================漢堡 */
    .HB{
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }
    .HB span{
        width: 30px;
        height: 2px;
        background-color: #777;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    /* ================================導覽列 */
    .main-nav{
        display: none;
        position: absolute;
        background-color: #faf;
        width: 100%;
        top: 100%;
        left: 0;
    }
    .banner{
        height: 80vh;
        margin-bottom: 50px;
    }
    .banner h2{
        padding-top: 10vh;
        line-height:20vh;
        background-color: rgba(255,255,255,.8);
    }
    .wrap_video{
        margin: 0;
        width: 100%;
    }
    .foot .content ul{
        display: flex;
        white-space: nowrap;
    }
    /* ================================球館資訊 */
    .court_info{
        margin-bottom: 100px;
    }
    .court_posi .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .court_posi .content span{
        font-weight: 700;
        color: #777;
    }
    .court_posi .third_title{
        margin-bottom: 30px;
    }
    .court_info .third_title{
        text-align: center;
        padding: 10px;
    }
    .court_info  .court .text{
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        line-height: 20px;
        color: #999;
        font-weight: 700;
    }
    .court .pic{
        width: 70%;
        margin: auto;
        position: relative;
        border-radius: 8px;
    }
    .court a{
        overflow: hidden;
    }
    .court img{
        border-radius: 8px;
        margin-bottom: 30px;
        width: 100%;
    }
    .map{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .map iframe{
        width: 100%;
        height: 300px;
    }
    /* ================================預約服務 */
    .reserve_service{
        margin-bottom: 100px;
    }
    .re_se{
        display: flex;
        flex-wrap: wrap;
        height: 60vh;
    }
    .re_se .card_item{
        width: 100%;
        height: 100px;
        background-color: rgb(135, 229, 199);
        border-radius: 10px;
        box-shadow: 0px 3px 2px 0px #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transform: scale(1,1);
        transition: 0.5s;
    }
    .re_se .card_item:hover{
        transform: scale(1.05,1.05);
    }
    .re_se .card_item img{
        display: none;
    }
    .rese_title{
        font-weight: 600;
        font-size: 20px;
        color: rgb(54, 22, 183);
    }
    /* =================================課程報名 */
    .course_apply{
        margin-bottom: 100px;
    }
    .course_apply .third_title{
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
    }
    .child,
    .low,
    .high{
        border: 1px solid #ccc;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border-radius: 8px;
        overflow: hidden;
        box-sizing: border-box;
    }
    .apply .pic{
        width: 100%;
    }
    .apply .pic img{
        width: 100%;
    }
    .course_apply .four_title{
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 12px;
    }
    .course_apply .text{
        line-height: 20px;
        opacity: 0.7;
        margin-bottom: 36px;
    }
    .content{
        padding: 16px;
    }
    .course_apply .lin{
        text-align: center;
        margin: 10px;
    }
    .apply .lin a{
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        background-color: #56ab4e;
        border-radius: 8px;
        display: inline-block;
        white-space: nowrap;
        transition: 0.5s;
        font-weight: 700;
    }
    .apply .lin a:hover{
        color: #0b498c;
        background-color: #fff;
    }

    /* ======================== */
    .wrap {
        flex-direction: column;
        width:400px;
    }
    /* =================================店鋪商品 */
    .products_info{
        margin-bottom: 100px;
    }
    .products .content{
        transition: 1s;
        width: 100%;
        height: 120px;
        overflow: hidden;
        border-top: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: start;
        box-sizing: border-box;
    }
    .bmt_racket{
        background: url(../image/products/badminton_racket.jpg);
    }
    .bmt_only{
        background: url(../image/products/bmt_ball_phone.jpg);
    }
    .bmt_shoes{
        background: url(../image/products/bmt_shoes_phone.jpg);
    }
    .bmt_clothes{
        background: url(../image/products/bmt_clothes_phone.jpg);
    }
    .bmt_line{
        background: url(../image/products/bmt_line_phone.jpg);
    }
    .bmt_bag{
        background: url(../image/products/bmt_bag_phone.jpg);
    }
    .bmt_equip{
        background: url(../image/products/bmt_equip_phone.jpg);
        border-bottom: 1px solid #ccc;
    }
    .products_info .card{
        color: #222;
        font-weight: 800;
        text-decoration: none;
        display: block;
        overflow: hidden;
    }
    .products .content h3{
        font-size: 24px;
        margin-left: 10%;
    }

}
/* ===========================================桌機版 */
@media screen and (min-width:768px){

    .main-nav{
        height: 100%;
    }
    .main-nav a{
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: #fff;
    }
    #login{
        padding: 8px 16px;
        background-color: #56ab4e;
        color: #fff;
        border-radius: 10px;
        border: none;

    }
    .main-header img{
        width: 100%;
    }
    .court{
        display: flex;
    }
    /* .banner img{
        width: 100%;
        display: block;
    } */
    /* ==================================球館資訊 */
    .court{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 80px;
    }
    .court .content{
        width: 300px;
        padding: 10px;
    }
    .court_first_content{
        position: relative;
        right: 500px;
        opacity: 0;
    }
    .court .content .third_title{
        margin-bottom: 30px;
    }
    .court .content .text{
        line-height: 40px;
        color: #999;
        font-weight: 700;
    }
    .court .pic_court{
        width: 500px;
        position: relative;
        left: 500px;
        opacity: 0;
    }
    .court .pic_court img{
        width: 100%;
    }
    .court_posi .content{
        text-align: center;
        margin-bottom: 40px;
    }
    .court_posi .text{
        color: #999;
        font-weight: 700;
    }
    .court_posi .content .third_title{
        margin-bottom: 40px;
    }
    .map{
        width: 100%;
        margin-bottom: 100px;
    }
    .map iframe{
        width: 100%;
        height: 400px;
    }
    /* ===========================預約服務 */
    .re_se .card_item{
        width: 100%;
        /* border: 3px solid #ccc; */
        margin-bottom: 30px;
        padding: 20px;
        box-sizing: border-box;
    }
    .rese_left{
        position: relative;
        right: 300px;
        opacity: 0;
    }
    .rese_center{
        position: relative;
        right: 600px;
        opacity: 0;
    }
    .rese_right{
        position: relative;
        right: 900px;
        opacity: 0;
    }
    .re_se .card_item .pic_rese{
        border-radius: 30px;
        position: relative;
        background: rgb(154, 226, 203);
        min-width: 150px;
    }
    .re_se .card_item .pic_rese img{
        width: 100%;
        border-radius: 30px;
        opacity: 0;
        transition: 0.5s;
        cursor: pointer;
    }
    .re_se .card_item .pic_rese img:hover{
        opacity: 1;
    }
    .rese_title{
        position: absolute;
        left: 35%;
        top:45%;
        color: rgb(54, 22, 183);
        font-size: 28px;
        font-weight: 900;
        z-index: 2;
    }
    /* ==================================課程報名 */
    .child,
    .low,
    .high{
        width: 60%;
        min-width: 780px;
        height: 260px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        background-color: #fce8e9;
        border-radius: 0px 80px 0px 80px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .child_scroll,
    .high_scroll{
        position: relative;
        left: 600px;
        opacity: 0;
    }
    .low_scroll{
        position: relative;
        right: 600px;
        opacity: 0;
    }
    .apply .content{
        width: 50%;
        margin: 0px 40px;
    }
    .apply .four_title{
        font-weight: 800;
        margin-bottom: 30px;
        font-size: 24px;
        color: #444;
    }
    .apply .text{
        font-weight: 600;
        margin-bottom: 80px;
        line-height: 24px;
        color: #999;
    }
    .apply .lin{
        display: block;
        text-align: end;
        box-sizing: border-box;
        position: relative;
        animation-name: clc;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    .apple .lin:hover{
        animation: none;
    }
    @keyframes clc{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
    .apply .lin a{
        text-decoration: none;
        background-color: #56ab4e;
        padding: 12px 26px;
        color: #fff;
        font-weight: 700;
        border-radius: 8px;
        transition: 0.5s;

    }
    .apply .lin a:hover{
        color: #0b498c;
        background-color: #fff;
    }
    .apply .pic{
        width: 50%;
        position: relative;
        left: 0;
    }
    .apply .pic img{
        width: 100%;
    }
    .course_apply .third_title{
        margin-bottom: 50px;
    }
    .apply{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* ============================教練介紹 */

    @media (max-width: 1000px) {
      .wrap {
       flex-direction: column;
        width:400px;
      }
    }
    /* ================================店鋪商品 */
    .products_info{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 200px;
    }
    .products .card{
        text-decoration: none;
        color: #222;
        font-weight: 700;
    }
    .products .content{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100px;
        height: 550px;
        box-shadow: 5px 15px 6px 0px #ccc;
        padding: 10px;
        margin: 5px;
        transition: 0.7s;  
        border: 1px solid #ccc;  
    }
    /* .products .content .third_title{
        opacity: 0;
    } */
    /* .products .content .third_title:hover{
        background-color: #fff;
    } */
    .bmt_racket{
        background: url(../image/products/bmt_racket_desk.jpg);
    }
    .bmt_only{
        background: url(../image/products/bmt_ball_desk.jpg);
        top: 50px;
    }
    .bmt_shoes{
        background: url(../image/products/bmt_shoes_desk.jpg);
        top: 25px;
    }
    .bmt_clothes{
        background: url(../image/products/bmt_clothes_desk.jpg);
        top: 75px;
    }
    .bmt_line{
        background: url(../image/products/bmt_line_desk.jpg);
        top: 50px;
    }
    .bmt_bag{
        background: url(../image/products/bmt_bag_desk.jpg);
        top: 10px;
    }
    .bmt_equip{
        background: url(../image/products/bmt_equip_desk.jpg);
        top: 40px;
    }
    .bmt_racket:hover,
    .bmt_line:hover,
    .bmt_equip:hover,
    .bmt_shoes:hover{
        padding: 10px 50px;
    }
    .bmt_only:hover,
    .bmt_clothes:hover,
    .bmt_bag:hover{
        padding: 10px 50px;
    }
}