html{
    font-family: 'Trebuchet MS';
    font-family: 'Microsoft JhengHei';
}
.main-header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F8FFF6;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    z-index: 3;
}
hr{
    opacity: 0.3;
    width: 80%;
    margin-left: auto;margin-right: auto;
    margin-bottom: 30px;
}
.sub_title{
    font-size: 32px;
    text-align: center;
}
.third_title{
    font-size: 24px;
}

/* =================================footer */
.foot{
    background-color: #7b8;
    padding: 20px;
}
.foot .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.foot .content span{
    display: block;
    padding: 5px;
}
.foot li{
    padding: 5px;
}
.foot li a{
    text-decoration: none;
    font-weight: 800;
    color: #000;
    transition: 0.5s;
}
.foot li a:hover{
    border-bottom: 1px solid #000;
}
.foot p{
    text-align: center;
    line-height: 20px;
}

@media screen and (min-width:768px){

    .main-nav{
        height: 100%;
    }
    .main-nav a{
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: #fff;
    }
    #login{
        padding: 8px 16px;
        background-color: #56ab4e;
        color: #fff;
        border-radius: 10px;
        border: none;

    }
    .main-header img{
        width: 100%;
    }
}