.image{
	width: 100%;
	/* height: 500px; */
}
#sliderBoard{	/* div */
	margin: auto;
	border: 1px solid #ccc;
	width: 100%;
	height: 700px;
	overflow: hidden;
}
#content{		/* ul */
	position: relative;
    /* width: 100%; */
}
/* #content img{
    width: 100%;
} */
#content li{	/* li */
	/* float: left; */
    display: flex;
    flex-direction: row;
}

/* circle button */
#contentButton{
	/* border: 1px solid red; */
	text-align: center;
	height: 50px;
}
#contentButton li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ccc;
	display: inline-block;
	margin: 5px;
}
#contentButton li.clicked{
	background: #666;
}